body {
	background-color: rgb(245, 245, 245);
}
a {
	color: rgb(51, 51, 51); text-decoration: none; cursor: pointer;
}
a:hover {
	color: inherit; text-decoration: none;
}
a:focus {
	color: inherit; text-decoration: none;
}
a:focus {
	text-decoration: none;
}
ul {
	list-style: none;
}
ul li {
	list-style: none;
}
input {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
textarea {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
select {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.form-control {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
textarea:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='text']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='password']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='datetime']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='datetime-local']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='date']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='month']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='time']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='week']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='number']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='email']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='url']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='search']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='tel']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='color']:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
.uneditable-input:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
select:focus {
	border-color: rgb(169, 68, 66) !important; outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 2px rgba(169,68,66,0.4) !important; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(169, 68, 66, 0.4);
}
input[type='text'] {
	min-width: 230px;
}
input[type='password'] {
	min-width: 230px;
}
input[type='datetime'] {
	min-width: 230px;
}
input[type='datetime-local'] {
	min-width: 230px;
}
input[type='date'] {
	min-width: 230px;
}
input[type='month'] {
	min-width: 230px;
}
input[type='time'] {
	min-width: 230px;
}
input[type='week'] {
	min-width: 230px;
}
input[type='number'] {
	min-width: 230px;
}
input[type='email'] {
	min-width: 230px;
}
input[type='url'] {
	min-width: 230px;
}
input[type='search'] {
	min-width: 230px;
}
input[type='tel'] {
	min-width: 230px;
}
input[type='color'] {
	min-width: 230px;
}
.uneditable-input {
	min-width: 230px;
}
select {
	min-width: 230px;
}
textarea {
	min-width: 230px;
}
.radio input[type='radio'] {
	margin-top: 0px;
}
.radio-inline input[type='radio'] {
	margin-top: 0px;
}
.checkbox input[type='checkbox'] {
	margin-top: 0px;
}
.checkbox-inline input[type='checkbox'] {
	margin-top: 0px;
}
input {
	padding: 7px 12px; border: 1px solid rgb(231, 231, 231);
}
button {
	padding: 7px 12px; border: 1px solid rgb(231, 231, 231);
}
textarea {
	padding: 7px 12px; border: 1px solid rgb(231, 231, 231);
}
select {
	padding: 6px 12px; border: 1px solid rgb(231, 231, 231); line-height: 26px;
}
h5 {
	font-weight: bold; margin-top: 7px; margin-bottom: 7px;
}
.navbar-form .form-group {
	height: 60px;
}
.header-right {
	margin: 70px 0px 10px; float: right;
}
.title {
	color: rgb(75, 91, 88); font-size: 24px; margin-top: 10px; margin-bottom: 20px;
}
.mec-info:hover {
	border-radius: 3px; color: rgb(255, 255, 255) !important; text-shadow: none; background-color: rgb(217, 83, 79);
}
.dashboard:hover {
	color: rgb(217, 83, 79);
}
.logout {
	margin: 10px 12px; float: right;
}
.logout a {
	padding: 5px; color: rgb(75, 91, 88);
}
.logout a:hover {
	border-radius: 3px; color: rgb(255, 255, 255) !important; text-shadow: none; background-color: rgb(217, 83, 79);
}
.mec-info {
	padding: 4px; font-size: 14px; margin-top: -10px !important; float: right;
}
.mb20 {
	margin-bottom: 20px;
}
legend {
	font-size: 14px; font-weight: bold;
}
.input-group-addon {
	cursor: pointer;
}
.input-group-addon:hover {
	border: 1px solid rgb(212, 63, 58); color: rgb(255, 255, 255) !important; background-color: rgb(217, 83, 79);
}
.gsim-param {
	margin: 5px 0px; padding-left: 10px; font-weight: bold;
}
.tool-param {
	margin: 5px 0px; padding-left: 10px; font-weight: bold;
}
.spacer {
	margin-top: 30px;
}
.alert {
	margin-bottom: 0px;
}
.breadcrumb {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.22);
}
.breadcrumb a {
	color: rgb(0, 0, 0); font-weight: bold;
}
.breadcrumb a:hover {
	color: rgb(169, 68, 66); font-weight: bold;
}
.breadcrumb .active {
	color: rgb(75, 91, 88);
}
.panel {
	border: currentColor; box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.22);
}
.panel > .panel-heading {
	border-top-color: rgb(221, 221, 221); border-bottom-color: currentColor !important; border-left-color: rgb(221, 221, 221); border-top-width: 1px; border-bottom-width: medium !important; border-left-width: 1px; border-top-style: solid; border-bottom-style: none !important; border-left-style: solid;
}
.panel > .panel-body {
	border-top-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;
}
.panel > .panel-footer {
	border-left-color: rgb(221, 221, 221); border-left-width: 1px; border-left-style: solid;
}
.panel > .panel-footer p {
	margin: 0px;
}
.panel-define > .panel-heading {
	background-image: linear-gradient(rgb(221, 233, 248) 0%, rgb(204, 219, 241) 100%); background-repeat: repeat-x;
}
.panel-define-impl > .panel-heading {
	background-image: linear-gradient(rgb(221, 233, 248) 0%, rgb(204, 219, 241) 100%); background-repeat: repeat-x;
}
.panel-compose > .panel-heading {
	background-image: linear-gradient(rgb(253, 232, 182) 0%, rgb(255, 232, 138) 100%); background-repeat: repeat-x;
}
.panel-configure > .panel-heading {
	background-image: linear-gradient(rgb(226, 234, 225) 0%, rgb(205, 234, 201) 100%); background-repeat: repeat-x;
}
.panel-prepare > .panel-heading {
	background-image: linear-gradient(rgb(221, 233, 248) 0%, rgb(204, 219, 241) 100%); background-repeat: repeat-x;
}
.panel-execute > .panel-heading {
	background-image: linear-gradient(rgb(255, 229, 204) 0%, rgb(244, 205, 167) 100%); background-repeat: repeat-x;
}
.panel-tool > .panel-heading {
	background-image: linear-gradient(rgb(253, 232, 182) 0%, rgb(255, 232, 138) 100%); background-repeat: repeat-x;
}
.panel-backend > .panel-heading {
	background-image: linear-gradient(rgb(221, 233, 248) 0%, rgb(204, 219, 241) 100%); background-repeat: repeat-x;
}
.panel-test > .panel-heading {
	background-image: linear-gradient(rgb(253, 232, 182) 0%, rgb(255, 232, 138) 100%); background-repeat: repeat-x;
}
.panel-users > .panel-heading {
	background-image: linear-gradient(rgb(226, 234, 225) 0%, rgb(205, 234, 201) 100%); background-repeat: repeat-x;
}
.panel-group > .panel-heading {
	background-image: linear-gradient(rgb(226, 234, 225) 0%, rgb(205, 234, 201) 100%); background-repeat: repeat-x;
}
.panel-gsbpm > .panel-heading {
	background-image: linear-gradient(rgb(255, 229, 204) 0%, rgb(244, 205, 167) 100%); background-repeat: repeat-x;
}
.modal {
	-ms-overflow-y: auto;
}
.modal-open {
	-ms-overflow-y: visible;
}
.modal-header {
	border-top-left-radius: 3px; border-top-right-radius: 3px; background-color: rgb(245, 245, 245);
}
.modal-body a:hover {
	color: rgb(169, 68, 66);
}
.modal-footer {
	padding: 10px 20px;
}
.modal-dialog {
	margin-top: 150px;
}
.btn {
	outline-color: rgb(255, 255, 255) !important;
}
.btn-default {
	background-color: rgb(242, 242, 242);
}
.btn-mec {
	background: rgb(242, 242, 242); padding: 6px 10px; border: 1px solid rgb(231, 231, 231); color: rgb(75, 91, 88); font-size: 14px;
}
.btn-mec:hover {
	background: rgb(217, 83, 79); color: rgb(255, 255, 255) !important;
}
.btn-banner {
	margin: 0px 20px 20px 0px;
}
.btn-define {
	border-color: rgb(204, 219, 241); color: rgb(51, 51, 51); background-color: rgb(221, 233, 248);
}
.btn-define:hover {
	border-color: rgb(170, 198, 240); color: rgb(51, 51, 51); background-color: rgb(204, 219, 241);
}
.btn-define:focus {
	border-color: rgb(170, 198, 240); color: rgb(51, 51, 51); background-color: rgb(204, 219, 241);
}
.btn-define:active {
	border-color: rgb(170, 198, 240); color: rgb(51, 51, 51); background-color: rgb(204, 219, 241);
}
.disabled.btn-define {
	border-color: rgb(212, 63, 58); background-color: rgb(217, 83, 79);
}
[disabled].btn-define {
	border-color: rgb(212, 63, 58); background-color: rgb(217, 83, 79);
}
[disabled].btn-define:hover {
	border-color: rgb(212, 63, 58); background-color: rgb(217, 83, 79);
}
.btn-define-impl {
	border-color: rgb(171, 199, 239); color: rgb(51, 51, 51); background-color: rgb(195, 217, 247);
}
.btn-define-impl:hover {
	border-color: rgb(127, 175, 242); color: rgb(51, 51, 51); background-color: rgb(171, 199, 239);
}
.btn-define-impl:focus {
	border-color: rgb(127, 175, 242); color: rgb(51, 51, 51); background-color: rgb(171, 199, 239);
}
.btn-define-impl:active {
	border-color: rgb(127, 175, 242); color: rgb(51, 51, 51); background-color: rgb(171, 199, 239);
}
.disabled.btn-define-impl {
	border-color: rgb(226, 234, 225); color: rgb(115, 115, 115); background-color: rgb(205, 225, 202);
}
[disabled].btn-define-impl {
	border-color: rgb(226, 234, 225); color: rgb(115, 115, 115); background-color: rgb(205, 225, 202);
}
[disabled].btn-define-impl:hover {
	border-color: rgb(226, 234, 225); color: rgb(115, 115, 115); background-color: rgb(205, 225, 202);
}
.btn-compose {
	border-color: rgb(249, 219, 100); color: rgb(51, 51, 51); background-color: rgb(255, 232, 138);
}
.btn-compose:hover {
	border-color: rgb(249, 203, 76); color: rgb(51, 51, 51); background-color: rgb(250, 226, 131);
}
.btn-compose:focus {
	border-color: rgb(249, 203, 76); color: rgb(51, 51, 51); background-color: rgb(250, 226, 131);
}
.btn-compose:active {
	border-color: rgb(249, 203, 76); color: rgb(51, 51, 51); background-color: rgb(250, 226, 131);
}
.disabled.btn-compose {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
[disabled].btn-compose {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
[disabled].btn-compose:hover {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
.btn-configure {
	border-color: rgb(205, 234, 201); color: rgb(51, 51, 51); background-color: rgb(223, 240, 216);
}
.btn-configure:hover {
	border-color: rgb(170, 212, 165); color: rgb(51, 51, 51); background-color: rgb(205, 234, 201);
}
.btn-configure:focus {
	border-color: rgb(170, 212, 165); color: rgb(51, 51, 51); background-color: rgb(205, 234, 201);
}
.btn-configure:active {
	border-color: rgb(170, 212, 165); color: rgb(51, 51, 51); background-color: rgb(205, 234, 201);
}
.disabled.btn-configure {
	border-color: rgb(226, 234, 225); color: rgb(115, 115, 115); background-color: rgb(205, 225, 202);
}
[disabled].btn-configure {
	border-color: rgb(226, 234, 225); color: rgb(115, 115, 115); background-color: rgb(205, 225, 202);
}
[disabled].btn-configure:hover {
	border-color: rgb(226, 234, 225); color: rgb(115, 115, 115); background-color: rgb(205, 225, 202);
}
.btn-prepare {
	border-color: rgb(204, 219, 241); color: rgb(51, 51, 51); background-color: rgb(221, 233, 248);
}
.btn-prepare:hover {
	border-color: rgb(170, 198, 240); color: rgb(51, 51, 51); background-color: rgb(204, 219, 241);
}
.btn-prepare:focus {
	border-color: rgb(170, 198, 240); color: rgb(51, 51, 51); background-color: rgb(204, 219, 241);
}
.btn-prepare:active {
	border-color: rgb(170, 198, 240); color: rgb(51, 51, 51); background-color: rgb(204, 219, 241);
}
.disabled.btn-prepare {
	border-color: rgb(170, 198, 240); color: rgb(51, 51, 51); background-color: rgb(204, 219, 241);
}
[disabled].btn-prepare {
	border-color: rgb(170, 198, 240); color: rgb(51, 51, 51); background-color: rgb(204, 219, 241);
}
[disabled].btn-prepare:hover {
	border-color: rgb(170, 198, 240); color: rgb(51, 51, 51); background-color: rgb(204, 219, 241);
}
.btn-execute {
	border-color: rgb(250, 187, 123); color: rgb(51, 51, 51); background-color: rgb(255, 209, 162);
}
.btn-execute:hover {
	border-color: rgb(245, 162, 78); color: rgb(51, 51, 51); background-color: rgb(250, 187, 123);
}
.btn-execute:focus {
	border-color: rgb(245, 162, 78); color: rgb(51, 51, 51); background-color: rgb(250, 187, 123);
}
.btn-execute:active {
	border-color: rgb(245, 162, 78); color: rgb(51, 51, 51); background-color: rgb(250, 187, 123);
}
.disabled.btn-execute {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
[disabled].btn-execute {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
[disabled].btn-execute:hover {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
.btn-tool {
	border-color: rgb(249, 219, 100); color: rgb(51, 51, 51); background-color: rgb(255, 232, 138);
}
.btn-tool:hover {
	border-color: rgb(249, 203, 76); color: rgb(51, 51, 51); background-color: rgb(250, 226, 131);
}
.btn-tool:focus {
	border-color: rgb(249, 203, 76); color: rgb(51, 51, 51); background-color: rgb(250, 226, 131);
}
.btn-tool:active {
	border-color: rgb(249, 203, 76); color: rgb(51, 51, 51); background-color: rgb(250, 226, 131);
}
.disabled.btn-tool {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
[disabled].btn-tool {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
[disabled].btn-tool:hover {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
.btn-backend {
	border-color: rgb(204, 219, 241); color: rgb(51, 51, 51); background-color: rgb(221, 233, 248);
}
.btn-backend:hover {
	border-color: rgb(170, 198, 240); color: rgb(51, 51, 51); background-color: rgb(204, 219, 241);
}
.btn-backend:focus {
	border-color: rgb(170, 198, 240); color: rgb(51, 51, 51); background-color: rgb(204, 219, 241);
}
.btn-backend:active {
	border-color: rgb(170, 198, 240); color: rgb(51, 51, 51); background-color: rgb(204, 219, 241);
}
.disabled.btn-backend {
	border-color: rgb(212, 63, 58); background-color: rgb(217, 83, 79);
}
[disabled].btn-backend {
	border-color: rgb(212, 63, 58); background-color: rgb(217, 83, 79);
}
[disabled].btn-backend:hover {
	border-color: rgb(212, 63, 58); background-color: rgb(217, 83, 79);
}
.btn-test {
	border-color: rgb(249, 219, 100); color: rgb(51, 51, 51); background-color: rgb(255, 232, 138);
}
.btn-test:hover {
	border-color: rgb(249, 203, 76); color: rgb(51, 51, 51); background-color: rgb(250, 226, 131);
}
.btn-test:focus {
	border-color: rgb(249, 203, 76); color: rgb(51, 51, 51); background-color: rgb(250, 226, 131);
}
.btn-test:active {
	border-color: rgb(249, 203, 76); color: rgb(51, 51, 51); background-color: rgb(250, 226, 131);
}
.disabled.btn-test {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
[disabled].btn-test {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
[disabled].btn-test:hover {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
.btn-users {
	border-color: rgb(205, 234, 201); color: rgb(51, 51, 51); background-color: rgb(223, 240, 216);
}
.btn-users:hover {
	border-color: rgb(170, 212, 165); color: rgb(51, 51, 51); background-color: rgb(205, 234, 201);
}
.btn-users:focus {
	border-color: rgb(170, 212, 165); color: rgb(51, 51, 51); background-color: rgb(205, 234, 201);
}
.btn-users:active {
	border-color: rgb(170, 212, 165); color: rgb(51, 51, 51); background-color: rgb(205, 234, 201);
}
.disabled.btn-users {
	border-color: rgb(226, 234, 225); color: rgb(115, 115, 115); background-color: rgb(205, 225, 202);
}
[disabled].btn-users {
	border-color: rgb(226, 234, 225); color: rgb(115, 115, 115); background-color: rgb(205, 225, 202);
}
[disabled].btn-users:hover {
	border-color: rgb(226, 234, 225); color: rgb(115, 115, 115); background-color: rgb(205, 225, 202);
}
.btn-group {
	border-color: rgb(205, 234, 201); color: rgb(51, 51, 51); background-color: rgb(223, 240, 216);
}
.btn-group:hover {
	border-color: rgb(170, 212, 165); color: rgb(51, 51, 51); background-color: rgb(205, 234, 201);
}
.btn-group:focus {
	border-color: rgb(170, 212, 165); color: rgb(51, 51, 51); background-color: rgb(205, 234, 201);
}
.btn-group:active {
	border-color: rgb(170, 212, 165); color: rgb(51, 51, 51); background-color: rgb(205, 234, 201);
}
.disabled.btn-group {
	border-color: rgb(226, 234, 225); color: rgb(115, 115, 115); background-color: rgb(205, 225, 202);
}
[disabled].btn-group {
	border-color: rgb(226, 234, 225); color: rgb(115, 115, 115); background-color: rgb(205, 225, 202);
}
[disabled].btn-group:hover {
	border-color: rgb(226, 234, 225); color: rgb(115, 115, 115); background-color: rgb(205, 225, 202);
}
.btn-gsbpm {
	border-color: rgb(250, 187, 123); color: rgb(51, 51, 51); background-color: rgb(255, 209, 162);
}
.btn-gsbpm:hover {
	border-color: rgb(245, 162, 78); color: rgb(51, 51, 51); background-color: rgb(250, 187, 123);
}
.btn-gsbpm:focus {
	border-color: rgb(245, 162, 78); color: rgb(51, 51, 51); background-color: rgb(250, 187, 123);
}
.btn-gsbpm:active {
	border-color: rgb(245, 162, 78); color: rgb(51, 51, 51); background-color: rgb(250, 187, 123);
}
.disabled.btn-gsbpm {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
[disabled].btn-gsbpm {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
[disabled].btn-gsbpm:hover {
	border-color: rgb(249, 219, 100); color: rgb(115, 115, 115); background-color: rgb(246, 225, 174);
}
.btn-file {
	overflow: hidden; position: relative;
}
.btn-file input[type=file] {
	background: white; top: 0px; text-align: right; right: 0px; font-size: 100px; display: block; position: absolute; cursor: inherit; min-height: 100%; min-width: 100%; opacity: 0;
}
.pagination > .active > a {
	border-color: rgb(169, 68, 66); background-color: rgb(217, 83, 79);
}
.pagination > .active > span {
	border-color: rgb(169, 68, 66); background-color: rgb(217, 83, 79);
}
.pagination > .active > a:hover {
	border-color: rgb(169, 68, 66); background-color: rgb(217, 83, 79);
}
.pagination > .active > span:hover {
	border-color: rgb(169, 68, 66); background-color: rgb(217, 83, 79);
}
.pagination > .active > a:focus {
	border-color: rgb(169, 68, 66); background-color: rgb(217, 83, 79);
}
.pagination > .active > span:focus {
	border-color: rgb(169, 68, 66); background-color: rgb(217, 83, 79);
}
.pagination > li > a {
	color: rgb(169, 68, 66);
}
.pagination > li > span {
	color: rgb(169, 68, 66);
}
.pagination > li > a:hover {
	color: rgb(169, 68, 66);
}
.pagination > li > span:hover {
	color: rgb(169, 68, 66);
}
.pagination > li > a:focus {
	color: rgb(169, 68, 66);
}
.pagination > li > span:focus {
	color: rgb(169, 68, 66);
}
.table-condensed > tbody > tr > td {
	padding: 9px;
}
.table-condensed > thead > tr > th {
	padding: 9px;
}
.table a {
	padding: 8px 6px;
}
.table .table-ban {
	padding: 8px 6px;
}
.table > tbody > tr > td > i {
	padding: 0px 6px;
}
.table a:hover {
	border-color: rgb(172, 41, 37); border-radius: 3px; color: rgb(255, 255, 255) !important; text-shadow: none; background-color: rgb(210, 50, 45);
}
.process-status {
	margin: -4px; padding: 4px 6px; border-radius: 3px;
}
.status-running {
	border: 1px solid rgb(60, 118, 61); color: rgb(60, 118, 61); background-color: rgb(223, 240, 216);
}
.status-suspended {
	border: 1px solid rgb(189, 111, 33); color: rgb(189, 111, 33); background-color: rgb(252, 241, 187);
}
.status-not-running {
	
}
.prepared-process-status {
	margin: -4px; padding: 4px 6px; border-radius: 3px; width: 90%;
}
.prepared {
	border: 1px solid rgb(60, 118, 61); color: rgb(60, 118, 61); background-color: rgb(223, 240, 216);
}
.not-prepared {
	border: 1px solid rgb(189, 111, 33); color: rgb(189, 111, 33); background-color: rgb(252, 241, 187);
}
.running {
	border: 1px solid rgb(172, 41, 37); color: rgb(172, 41, 37); background-color: rgb(249, 229, 228);
}
.process-running {
	padding: 5px; border-radius: 4px; border: 1px solid rgb(60, 118, 61); color: rgb(60, 118, 61); background-color: rgb(223, 240, 216);
}
.process-running a:hover {
	color: rgb(255, 255, 255); background-color: rgb(60, 118, 61);
}
.process-completed {
	color: rgb(60, 118, 61); font-weight: bold; background-color: rgb(223, 240, 216);
}
.process-completed a:hover {
	color: rgb(255, 255, 255); background-color: rgb(60, 118, 61);
}
.process-suspended {
	color: rgb(189, 111, 33); font-weight: bold; background-color: rgb(252, 241, 187);
}
.process-suspended a {
	color: rgb(189, 111, 33);
}
.process-suspended a:hover {
	color: rgb(255, 255, 255); background-color: rgb(189, 111, 33);
}
.huge {
	font-size: 40px;
}
.action-msg {
	margin-bottom: 15px; box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.22);
}
.bottom.tooltip .tooltip-arrow {
	border-bottom-color: rgb(189, 111, 33);
}
.tooltip-inner {
	border: 1px solid rgb(189, 111, 33); color: rgb(252, 241, 187); background-color: rgb(189, 111, 33);
}
.title {
	font-size: 24px; margin-top: 30px;
}
.carousel {
	margin-top: 20px; box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.2);
}
.carousel-inner p {
	margin: 0px; color: rgb(75, 91, 88) !important; padding-top: 50px; padding-bottom: 20px; font-size: 28px;
}
.left.carousel-control {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.08) 0px, rgba(0, 0, 0, 0.0001) 100%); background-repeat: repeat-x;
}
.right.carousel-control {
	left: auto; right: 0px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0px, rgba(0, 0, 0, 0.08) 100%); background-repeat: repeat-x;
}
.carousel-control:hover {
	outline: 0px; color: rgb(255, 255, 255); text-decoration: none; opacity: 0.7;
}
.carousel-control:focus {
	outline: 0px; color: rgb(255, 255, 255); text-decoration: none; opacity: 0.7;
}
.item {
	background: rgb(232, 232, 232); height: 200px !important; text-align: center;
}
.item-define {
	background: rgb(221, 233, 248);
}
.item-compose {
	background: rgb(250, 232, 158);
}
.item-configure {
	background: rgb(210, 234, 207);
}
.item-execute {
	background: rgb(255, 218, 182);
}
.carousel-caption p {
	color: rgb(75, 91, 88) !important; font-size: 18px; text-shadow: none !important;
}