.metismenu .arrow {
	line-height: 1.4285; float: right;
}
.metismenu .arrow.glyphicon::before {
	content: "\e079";
}
.metismenu .active > a > .arrow.glyphicon::before {
	content: "\e114";
}
.metismenu .arrow.fa::before {
	content: "\f104";
}
.metismenu .active > a > .arrow.fa::before {
	content: "\f107";
}
.metismenu .arrow.ion::before {
	content: "\f3d2";
}
.metismenu .active > a > .arrow.ion::before {
	content: "\f3d0";
}
.metismenu .plus-times {
	float: right;
}
.metismenu .plus-times.fa::before {
	content: "\f067";
}
.metismenu .active > a > .plus-times.fa {
	transform: rotate(45deg); -webkit-transform: rotate(45deg);
}
.metismenu .plus-minus {
	float: right;
}
.metismenu .plus-minus.fa::before {
	content: "\f067";
}
.metismenu .active > a > .plus-minus.fa::before {
	content: "\f068";
}
.metismenu .collapse {
	display: none;
}
.metismenu .in.collapse {
	display: block;
}
.metismenu .collapsing {
	height: 0px; overflow: hidden; position: relative; transition-property: height, visibility; transition-duration: 0.35s; transition-timing-function: ease; -webkit-transition-timing-function: ease; -webkit-transition-duration: .35s; -webkit-transition-property: height, visibility;
}
