html, body{
    height: 100%;
    background-color: #f1f3f7;
}
footer {
    background-color: white;
}
.wrapper {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}

a{
    color: #34788c;
}

a:hover{
    text-decoration: none;
}
/* START HEADER */
.navbar {
    position: relative;
    min-height: 55px;
    margin-bottom: 21px;
    border: 1px solid transparent;
}
.navbar, .navbar .dropdown-menu, .topnavbar{
    filter: none!important;
    color: white!important;
    font-size: 18pt;
    padding: 8px 15px;
}

.topnavbar {
    border: 0;
    background-color: #34788c;
    background-repeat: repeat-x;
    border-radius: 0px;
    z-index: 1050;
    margin-bottom: 0;
    padding-top: 12px;
}

.topnavbar a {
    color: white!important;
    padding: 5px 12px;
    display: block;
    font-size: 12px !important;
}

.topnavbar a:hover {    

    color: #34788c!important;
    text-shadow: none;
    background-color: #ddd !important;
    border-radius: 3px;
    border-color: #ddd;
    font-size: 12px !important;


}
.nav .fa {
    margin-right: 5px;
}

.signout{
    margin-right:0px;
    margin-top: 20px;
}
.signout .fa{
    margin-right:0px!important;
}

.language{
    margin-right:0px;
    margin-top: 20px;
}
/* END HEADER */

/* START LEFT SIDEBAR */
.wrapper>.aside {
    position: absolute;
    width: 220px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 116;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
}
.wrapper>.aside .aside-inner {
    overflow: hidden;
    padding-top: 70px;
    height: 100%;
    width: 220px;
}
.sidebar {
    height: 100%;
    padding-bottom: 20px;
    background-color: #fff;
    overflow-y: auto;
    border-right: 1px rgba(0,0,0,.15) solid;
}

.sidebar .nav-heading {
    padding: 12px 15px;
    color: #333;
    font-size: 18px;
    letter-spacing: .035em;
    pointer-events: none;
    cursor: default;
}

.sidebar>.nav {
    position: relative;
}
.sidebar>.nav>.nav-heading:first-child {
    padding-top: 22px;
    font-size: 20px;
}
.sidebar>.nav>.nav-heading, .sidebar li>.nav-item, .sidebar li>a {
    white-space: nowrap;
}
.sidebar-subnav>li>a {
    padding-left: 42px;
    background-color: transparent!important;
}
.active {
    background-color: #e1e7ef;
}

.toggle-menu {
    font-size: 20px;
    left: 188px;
    top: 92px;
    position: absolute;
    z-index: 200;
    cursor: pointer;
    color: #34788c;
}
.aside.toggle-off {
    margin-left: -170px;
}
section.toggle-off, footer.toggle-off {
    margin-left: 50px!important;
}
aside.toggle-off .active {
    background-color: inherit;
}
/* END LEFT SIDEBAR */

/* START CONTAINER */
.wrapper>section{
    position: relative;
    height: 100%;
    margin-left: 0;
    z-index: 111;
    margin-bottom: 60px!important;
}
.content-wrapper {
    padding: 20px;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.15);
    margin-top: -1px;
}
.content-wrapper > .content-heading, .content-wrapper>h3 {
    margin: -20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 24px;
    line-height: 1.1;
    color: #333;
    font-weight: 400;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2
}
.content-wrapper>.content-heading>small, .content-wrapper>h3>small {
    display: block;
    font-size: 12px;
    color: #909fa7;
}
.panel .panel-heading {
    border-bottom: 0;
    font-size: 14px;
    background-color: #fff;
}
/* END CONTAINER */

/* START FOOTER */
.wrapper>footer, .wrapper>section {
    margin-left: 220px;
}
.wrapper>footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid #e4eaec;
    padding: 20px;
    z-index: 109;
}
/* END FOOTER */


@media screen and (max-width: 560px) {
    .small-screen-hide {
        display: none;
    }
    .small-screen .fa {
        font-size: 20px;
    }
    .content-body {
        overflow-x: auto;
    }
}
section, footer {
    min-width: 400px;
}

/* START DATA TABLE */
table.dataTable.no-footer, th {
    border-bottom: 1px solid #111 !important;
}
td {
    border-top: 0;
}
.even {
    background-color: #f1f3f7;
}

.numeric {
    text-align: right!important;   
}

.page-header{
    border-bottom: 1px solid #ddd !important;
}

/* END DATA TABLE */

.page-header-data{ 
    margin-top:  10px!important;
    border:0 !important;
}
.page-header-chart{ 
    margin-top:  10px!important;
    border:0 !important;
}
.spacer{
    display: block;
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 0; 
    width: 100%; 
    height: 45px;
}
.religion,sexdistribution{    
    display: none;
}


.loading{
    padding-top: 15%;
}
.loader{
    padding: 5%;
    text-align: center;
}
.shadow-effect{
    box-shadow: 0 10px 6px -6px #777;
}

/* color Button */
.btn-primary{
    background-color: #34788c !important;
}

.btn-group .btn-primary{
    font-size: 12px !important;
}


/*
 .panel-default>.panel-heading {
    color: #34788c !important;   
    background-color: #f5f5f5 !important;
    border-color: #ddd !important;
}

.panel-heading {
    padding: 10px 15px !important;
    border-bottom: 1px solid transparent !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;;
}
*/
/* colore button quando la table si restringe */
.pagination>.active>a, 
.pagination>.active>a:focus,
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus,
.pagination>.active>span:hover {

    background-color:  #34788c !important;
    border-color:  #34788c !important;
    color: #fff !important;

    border-top-color: rgb(51, 122, 183);
    border-right-color: rgb(51, 122, 183);
    border-bottom-color: rgb(51, 122, 183);
    border-left-color: rgb(51, 122, 183);

}
.pagination>li>a, .pagination>li>span {
    color:  #111 !important;  
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color:  #34788c !important;
    border-color:  #34788c !important;
    color: #fff !important;

    border-top-color: rgb(51, 122, 183);
    border-right-color: rgb(51, 122, 183);
    border-bottom-color: rgb(51, 122, 183);
    border-left-color: rgb(51, 122, 183);


}
/* colore button quando la table si restringe */

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before{
    content: '+';
    background-color: #34788c !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
    content: '-';
    background-color: #d33333!important ;
}


/* home page */

.brand {
    font-size: 2em;
}

.brand {
    font-family: 'Arial', cursive;
}

.brand-sub {
    font-size: 1.2em;
}

.div{
    display: table;
    content: " ";
}

.div li {
    display: list-item;
}
.stacks {
    margin: 0 auto;
    list-style: none;
}

.stacks .clip {
    margin: 5px;
    width: 85px;
    height: 85px;
    background-color: white;
    color: #09486b;
    float: left;
    text-align: center;
    border: 1px dotted #34788c;
    padding: .8%;
}
.stacks .clip img {
    padding: 5px;
    height: 45px;
    display: block;
    margin: 0 auto;

}
.stacks .clip img.width {
    padding: 5px;
    padding-top: 14px;
    height: auto;
    width: 65px;
    display: block;
    margin: 10px auto;
}

.stacks .clip .title_sub_tech {
    margin-top: 4px;
    font-size: 10px;
    color: #09486b;
    display: block;
    text-align: center;
}

.info-bottom{
    padding-top:35px;
    padding-left:15px;
    padding-bottom:15px;
}

.sexdistribution.col-lg-9 {

    padding: 0px !important;    
}

.modal-footer #msgs{
    text-align: left;
} 

.well {
    background-color: #fff !important;
}
.well-legend {

    font-size: 15px;
    font-weight: bold;
    width: auto;
    padding: 2px 5px 2px 5px;
    background: #fff;
}
legend {
    border-bottom: none !important; 
}
fieldset {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.territory-panel-body.panel-body{
    padding-top: 0px;        
}

.panel-heading {    
    padding:5px 15px !important;    
}

.sexdistribution, .household, .sexdistribution,.territory{display: none;}


.blink_me {  
  
    text-decoration-line: blink;
}

.blink_me_2 {
  animation: blinker 1s linear infinite;
  
}

@keyframes blinker {  
  50% { opacity: 0; }
}