<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   <head th:include="layout :: site-head" th:remove="tag"/>
        <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
        <script  th:src="@{/js/table/datatables.js}"></script>
        <link rel="stylesheet" th:href="@{/css/mecbox.datatables.css}" />
        <link rel="stylesheet" th:href="@{/css/table/datatables.css}" />
        <script th:src="@{/js/chart/chart.bundle.min.js}"></script>
        <script th:src="@{/js/chart/mecboxChart.js}"></script>
        <script th:src="@{/js/sexdistributionList.js}"></script>
    </head>
    <BODY>
        <!-- Body -->    
        <div class="wrapper">    
            <header th:replace="layout :: site-header" />
            <aside th:replace="layout :: site-aside" />
            <!-- START MAIN CONTAINER -->
            <section>
                <div class="content-wrapper">
                    <div class="content-heading">
                        Sex Distribution
                        <small>Chart</small>
                    </div>
                    <div class="container-fluid ">
                        <div class="row mb-lg">                                
                            <!-- start loader-->
                            <div class="loading">                            
                                <div class="col-sm-4"></div> 
                                <div class="col-sm-4">
                                    <div class="panel panel-default shadow-effect">
                                        <div class="panel-body"> 
                                            <div class="loader">
                                                <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
                                                <span><strong>Loading data...</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-sm-4"></div> 
                            </div>                            
                            <!-- end loader -->
                            
                            <div class="sexdistribution col-lg-9">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3><i class="fa  fa-bar-chart"></i> Male and female sex distribution chart</h3>
                                    </div>
                                    <div class="panel-body"> 
                                        <canvas id="bar-chart-area" />
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END MAIN CONTAINER -->
            <footer th:replace="layout :: site-footer" />
        </div>   <!-- wrapper -->
    </BODY>
</html>