<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: site-head" />
    <head>

        <script>
            $(document).ready(function () {
                setMenuActive("newuser");

            });
        </script>


    </head>

    <BODY>
        <!-- Body -->
        <div class="wrapper">

            <header th:replace="layout :: site-header" />
            <aside th:replace="layout :: site-aside" />




            <!-- START MAIN CONTAINER -->
            <section>
                <div class="content-wrapper">
                    <div class="content-heading">
                        New User <small>new</small>
                    </div>
                    <div class="container-fluid">
                        <div class="row mb-lg">
                            <div>
                                <ul id="messages" th:with="notifyMessages=${session[T(it.istat.mec.mecbox.services
                                    .NotificationService).NOTIFY_MSG_SESSION_KEY]}">
                                    <li th:each="msg : ${notifyMessages}"
                                        th:text="${msg.text}"
                                        th:class="${#strings.toLowerCase(msg.type)}">
                                    </li>
                                    <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(
                                          T(it.istat.mec.mecbox.services.NotificationService).NOTIFY_MSG_SESSION_KEY)}"></span>
                                </ul>
                            </div>  
                            <div class="col-lg-6">
                                <form action="#" th:action="@{/users/newuser}"
                                      th:object="${userCreateForm}" method="post">
                                    <table>
                                        <tr>
                                            <td>Email:</td>
                                            <td><input type="text" th:field="*{email}" /></td>
                                            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                                                Error</td>
                                        </tr>

                                        <tr>
                                            <td>Nome:</td>
                                            <td><input type="text" th:field="*{nome}" /></td>
                                            <td th:if="${#fields.hasErrors('nome')}"
                                                th:errors="*{nome}">Nome Error</td>
                                        </tr>
                                        <tr>
                                            <td>Cognome:</td>
                                            <td><input type="text" th:field="*{cognome}" /></td>
                                            <td th:if="${#fields.hasErrors('cognome')}"
                                                th:errors="*{cognome}">Cognome Error</td>
                                        </tr>

                                        <tr>
                                            <td>Password:</td>
                                            <td><input type="text" th:field="*{password}" /></td>
                                            <td th:if="${#fields.hasErrors('password')}"
                                                th:errors="*{password}">Password Error</td>
                                        </tr>

                                        <tr>
                                            <td>Role:</td>
                                            <td><select th:field="*{role}">
                                                    <option th:each="rolei : ${allRoles}" th:value="${rolei}"
                                                            th:text="${rolei}">role</option>
                                                </select></td>
                                            <td th:if="${#fields.hasErrors('role')}"
                                                th:errors="role">Role Error</td>
                                        </tr>



                                        <tr>
                                            <td><button type="submit">Submit</button></td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- END MAIN CONTAINER -->



            <footer th:replace="layout :: site-footer" />
        </div>
        <!-- wrapper -->
    </BODY>
</html>

