<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head" />
<head>
<script src="../public/js/table/datatables.js"
	th:src="@{/js/table/datatables.js}"></script>
<link rel="stylesheet" href="../public/css/table/datatables.css"
	th:href="@{/css/table/datatables.css}" />
<script>
	$(document).ready(function() {
		setMenuActive("users-list");
		var table=$("#userslist").DataTable({
			responsive : true,
			lengthChange : false,
			buttons : [ 'csv', 'excel', 'pdf' ]
		});
		
		table.buttons().container().appendTo('#userslist_wrapper .col-sm-6:eq(0)');
        $('option[value=afar]').attr('selected', 'selected');
        
      table.on('click', 'a.editor_edit', function (e) {
            e.preventDefault();
         
            editor.edit( $(this).closest('tr'), {
                title: 'Edit record',
                buttons: 'Update'
            } );
        } );
        
      
      $('#userslist1').DataTable( {
    	  responsive : true,
			lengthChange : false,
            "ajax": "/users/restlist",
            "columns": [
                { "data": "userid" },
                { "data": "fullname" },
                { "data": "email" }
            ]
      } );
      
	});
	
	
	function add_user()
	{
	    save_method = 'add';
	    $('#form')[0].reset(); // reset form on modals
	    $('.form-group').removeClass('has-error'); // clear error class
	    $('.help-block').empty(); // clear error string
	    $('#modal_form').modal('show'); // show bootstrap modal
	    $('.modal-title').text('Add User'); // Set Title to Bootstrap modal title
	}
	 
	function edit_user(id)
	{
	    save_method = 'update';
	    $('#form')[0].reset(); // reset form on modals
	    $('.form-group').removeClass('has-error'); // clear error class
	    $('.help-block').empty(); // clear error string
	 
	    //Ajax Load data from ajax
	    $.ajax({
	        url : "/users/restgetUser?id=" + id,
	        type: "GET",
	        dataType: "JSON",
	        success: function(data)
	        {
	 
	            $('[name="userid"]').val(data.userid);
	            $('[name="fullname"]').val(data.fullname);
	            $('[name="email"]').val(data.email);
	            $('[name="email"]').prop("readonly", true);
	            $('[name="role"] option[value='+data.role+']').prop('selected', true);
	      //      $('[name="gender"]').val(data.gender);
	       //     $('[name="address"]').val(data.address);
	        //    $('[name="dob"]').datepicker('update',data.dob);
	            $('#modal_form').modal('show'); // show bootstrap modal when complete loaded
	            $('.modal-title').text('Edit User'); // Set title to Bootstrap modal title
	
	        },
	        error: function (jqXHR, textStatus, errorThrown)
	        {
	            alert('Error get data from ajax');
	        }
	    });
	}
	 
	function reload_table()
	{
		// /users/restlist
	    table.ajax.reload(null,false); //reload datatable ajax 
	}
	 
	function save()
	{
	    $('#btnSave').text('saving...'); //change button text
	    $('#btnSave').attr('disabled',true); //set button disable 
	    var url;
	 
	    if(save_method == 'add') {
	        url = "<?php echo site_url('user/ajax_add')?>";
	    } else {
	        url = "<?php echo site_url('user/ajax_update')?>";
	    }
	 
	    // ajax adding data to database
	    $.ajax({
	        url : url,
	        type: "POST",
	        data: $('#form').serialize(),
	        dataType: "JSON",
	        success: function(data)
	        {
	 
	            if(data.status) //if success close modal and reload ajax table
	            {
	                $('#modal_form').modal('hide');
	                reload_table();
	            }
	 
	            $('#btnSave').text('save'); //change button text
	            $('#btnSave').attr('disabled',false); //set button enable 
	 
	 
	        },
	        error: function (jqXHR, textStatus, errorThrown)
	        {
	            alert('Error adding / update data');
	            $('#btnSave').text('save'); //change button text
	            $('#btnSave').attr('disabled',false); //set button enable 
	 
	        }
	    });
	}
	 
	function delete_user(id)
	{
	    if(confirm('Are you sure delete this data?'))
	    {
	        // ajax delete data to database
	        $.ajax({
	        	 url : "/users/restDeleteUser?id=" + id,
	            type: "POST",
	            dataType: "JSON",
	            success: function(data)
	            {
	                //if success reload ajax table
	                $('#modal_form').modal('hide');
	                reload_table();
	            },
	            error: function (jqXHR, textStatus, errorThrown)
	            {
	                alert('Error deleting data');
	            }
	        });
	 
	    }
	}	
</script>


</head>
<BODY>
	<!-- Body -->
	<div class="wrapper">

		<header th:replace="layout :: site-header" />
		<aside th:replace="layout :: site-aside" />




		<!-- START MAIN CONTAINER -->
		<section>
			<div class="content-wrapper">
				<div class="content-heading">
					MecBox <small>users List</small>
				</div>

				<!-- START PANEL-->
				<div class="panel panel-default">
				 <div class="panel-heading">Users</div>
					<div class="panel-body">
					  <button class="btn btn-success" onclick="add_user()"><i class="glyphicon glyphicon-plus"></i> Add User</button>
        <button class="btn btn-default" onclick="reload_table()"><i class="glyphicon glyphicon-refresh"></i> Reload</button>
        	<table id="userslist1"   class="table table-striped" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>ID</th>

										<th>Fullname</th>
										<th>Email</th>
									 
									</tr>
								</thead>
										<tfoot>
									<tr>
										<th>ID</th>

										<th>Fullname</th>
										<th>Email</th>
									 
									</tr>
								</tfoot>
								 
							</table>
				
							<table id="userslist"   class="table table-striped" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>ID</th>

										<th>Fullname</th>
										<th>Email</th>
										<th>Role</th>
										  <th >&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="p : ${users}"
										th:unless="${(users == null) or (users.size() == 0) }">
										<td th:text="${p.userid}">id</td>

										<td th:text="${p.fullname}">fullname</td>
										<td th:text="${p.email}">email</td>
										<td th:text="${p.role.role}">role</td>
									 	
										  <td >
										 <a class="btn btn-sm btn-primary" href="javascript:void(0)" title="Edit" th:onclick="'javascript:edit_user(\''+${p.userid}+'\');'"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                                         <a class="btn btn-sm btn-danger" href="javascript:void(0)" title="Hapus" th:onclick="'javascript:delete_user(\''+${p.userid}+'\');'"><i class="glyphicon glyphicon-trash"></i> Delete</a>
 
										  </td>	
											
									</tr>
								</tbody>
							</table>

 
					</div>
				</div>
				<!-- END PANEL-->

			</div>
		</section>
		<!-- END MAIN CONTAINER -->



		<footer th:replace="layout :: site-footer" />
	</div>
	<!-- wrapper -->
<!-- Bootstrap modal -->
<div class="modal fade" id="modal_form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">User Form</h3>
            </div>
            <div class="modal-body form">
                <form action="#" id="form" class="form-horizontal">
                    <input type="hidden" value="" name="userid"/> 
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">FullNme</label>
                            <div class="col-md-9">
                                <input name="fullname" placeholder="First Name" class="form-control" type="text"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <div class="col-md-9">
                                <input name="email" placeholder="Email" class="form-control" type="text"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Role</label>
                            <div class="col-md-9">
                                <select name="role">
												<option th:each="rolei : ${allRoles}" th:value="${rolei}"
													th:text="${rolei}">role</option>
								</select>
                                <span class="help-block"></span>
                            </div>
                        </div>
                   
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" onclick="save()" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End Bootstrap modal -->	
	
</BODY>
</html>

