<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="site-head">
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="IE=10.000" http-equiv="X-UA-Compatible" />
        <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />

        <TITLE>MEC</TITLE>

        <!-- Javascript -->
        <script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/metisMenu.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/mecbox.js}" type="text/javascript"></script>

        <!-- CSS -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/metisMenu.min.css}" rel="stylesheet" />
        <link th:href="@{/css/mecbox.css}" rel="stylesheet" />
        <!-- Fontawesome -->
        <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    </head>
    <body>
        <!-- Body -->
        <div class="wrapper">
            <!-- START HEADER -->
            <header th:fragment="site-header" th:remove="tag">
                <div class="topnavbar-wrapper">
                    <nav role="navigation" class="navbar topnavbar">
                        <div class="nav pull-left">
                            <i class="fa fa-dropbox fa-2x"></i> Mec <span
                                class="small-screen-hide">Box</span>
                        </div>
                        <div class="nav pull-right small-screen">
                            <a sec:authorize="isAuthenticated()" href="#"
                               th:href="@{/users/logout}"> <i
                                    class="fa fa-sign-out fa-fw signout"></i> <span
                                    class="small-screen-hide"><span th:text="#{Error.signout}">Sign out</span> <strong
                                        sec:authentication="name"><span th:text="#{Error.user}">User</span></strong></span>
                            </a>
                        </div>
                    </nav>
                </div>
                <!-- END HEADER -->
            </header>
            <!-- START LEFT SIDE BAR -->
            <aside th:fragment="site-aside" th:remove="tag">
                <aside class="aside">
                    <div class="aside-inner">
                        <span class="toggle-menu" onclick="toggleMenu()">
                            <i id="toggle-menu" class="fa"></i>
                        </span>
                        <nav data-sidebar-anyclick-close="" class="sidebar">
                            <ul class="nav">
                                <li class="nav-heading"><span th:text="#{Error.reportlist}">Report List</span></li>
                                <li class="nav-body active">
                                    <a href="index.html" title="Home" th:href="@{/}" class="active">
                                        <i class="fa fa-home"></i> <span>Home</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </aside>
            </aside>
            <!-- END LEFT SIDE BAR -->

            <!-- START MAIN CONTAINER -->
            <section>
                <div class="content-wrapper">
                    <div class="content-heading">
                        Mec Box - Error Page <small>Errors</small>
                    </div>

                    <!-- START PANEL-->
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row well-lg">                                
                                    <h1 class="indigo-text center" th:text="${error}"> <span th:text="#{Error.notfound}">Not found</span> </h1>

                                    <p class="col s12 center" th:text="${message}"> <span th:text="#{Error.notavaliable}">This page is not available</span></p>
                                    <p>
                                        <span th:text="#{Error.goto}">Go to</span> <a href="index.html" title="Home" th:href="@{/}"
                                                                                      class="active"> <i class="fa fa-home"></i> <span>Home</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <!-- END PANEL-->

                </div>
            </section>
            <!-- END MAIN CONTAINER -->

            <!-- START FOOTER -->
            <footer th:fragment="site-footer">
                <span>2017 - Istat MecBox</span>
            </footer>
            <!-- END FOOTER -->
        </div>
    </body>
</html>
