<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: site-head"/>
    <BODY>
        <!-- Body -->    
        <div class="wrapper">

            <header th:replace="layout :: site-header" />
            <aside th:replace="layout :: site-aside" />

            <!-- START MAIN CONTAINER -->
            <section>
                <div class="content-wrapper">
                    <div class="content-heading">
                        Template page
                        <small>template</small>
                    </div>
                    <div class="container-fluid">
                        <div class="row mb-lg">
                            <div class="col-lg-6">
                                <h4>To Do</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- END MAIN CONTAINER -->

            <footer th:replace="layout :: site-footer" />
        </div><!-- wrapper -->
    </BODY>
</html>

