<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
    <head th:include="layout :: site-head" th:remove="tag"/>    

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />        
    <script th:src="@{/js/table/datatables.js}"></script>
    <!-- ie --> 
    <!--script th:src="@{/js/table/dataTables.buttons.min.js}"></script>
    <script  th:src="@{/js/table/buttons.flash.min.js}"></script-->
    <script th:src="@{/js/household.js}"></script> 
    <link rel="stylesheet" th:href="@{/css/table/datatables.css}" />
</head>
<BODY>
    <!-- Body -->    
    <div class="wrapper">    
        <header th:replace="layout :: site-header" />
        <aside th:replace="layout :: site-aside" />
        <!-- START MAIN CONTAINER -->
        <section>
            <div class="content-wrapper">
                <div class="content-heading">
                    Household
                    <small>Table</small>
                </div>
                <div class="container-fluid ">
                    <div class="row mb-lg"> 
                        <div class="panel panel-default col-lg-9">
                            <div class="panel-heading"><h3><i class="fa  fa-table"></i> Data</h3></div> 
                            <div class="panel-body">
                                <table id="householdlist"   class="table table-striped" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>region</th>
                                            <th>zone</th>
                                            <th>woreda</th>
                                            <th>city</th>
                                            <th>subcity</th>
                                            <th>psa</th>
                                            <th>sa</th>
                                            <th>kebele</th>
                                            <th>ea</th>
                                            <th>household</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="hh : ${householdList}"
                                            th:unless="${(householdList == null) or (householdList.size() == 0) }">
                                            <td th:text="${hh.region}"></td>
                                            <td th:text="${hh.zone}"></td>
                                            <td th:text="${hh.woreda}"></td>
                                            <td th:text="${hh.city}"></td>
                                            <td th:text="${hh.subcity}"></td>
                                            <td th:text="${hh.psa}"></td>
                                            <td th:text="${hh.sa}"></td>
                                            <td th:text="${hh.kebele}"></td>
                                            <td th:text="${hh.ea}"></td>
                                            <td th:text="${hh.household}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END MAIN CONTAINER -->
        <footer th:replace="layout :: site-footer" />
    </div>   <!-- wrapper -->
</BODY>
</html>