<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: site-head"/>
    <head>
        <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
        <script src="../public/js/table/datatables.js" 
        th:src="@{/js/table/datatables.js}"></script>
        <link rel="stylesheet" href="../public/css/mecbox.datatables.css"
              th:href="@{/css/mecbox.datatables.css}" />
        <link rel="stylesheet" href="../public/css/table/datatables.css"
              th:href="@{/css/table/datatables.css}" />
        <script src="../public/js/chart/chart.bundle.min.js" 
        th:src="@{/js/chart/chart.bundle.min.js}"></script>
        <script src="../public/js/chart/mecboxChart.js" 
        th:src="@{/js/chart/mecboxChart.js}"></script>
        <script src="../public/js/religionList.js" 
        th:src="@{/js/religionList.js}"></script>
    </head>
    <BODY>
        <!-- Body -->    
        <div class="wrapper">    
            <header th:replace="layout :: site-header" />
            <aside th:replace="layout :: site-aside" />
            <!-- START MAIN CONTAINER -->
            <section>
                <div class="content-wrapper">
                    <div class="content-heading">
                        Religion List
                        <small>Religion List</small>
                    </div>
                    <div class="container-fluid">
                        <div class="row mb-lg">
                            <div class="panel panel-default">
                                <div class="panel-body">                                
                                    <div class="col-lg-6">
                                        <h3 class="page-header page-header-data">Data</h3>
                                        
                                        <table id="religionlist"   class="table table-striped " cellspacing="0" width="100%"></table>
                                    </div>
                                    <div class="col-lg-6" >
                                        <h3 class="page-header page-header-doughnut">Doughnut chart</h3>
                                        <div class="row spacer"></div>
                                        <canvas id="doughnut-chart-area" />
                                        <div class="spacer"></div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </section>
            <!-- END MAIN CONTAINER -->
            <footer th:replace="layout :: site-footer" />
        </div>   <!-- wrapper -->
    </BODY>
</html>


